@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?v5q1u4");
  src: url("fonts/icomoon.eot?v5q1u4#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?v5q1u4") format("truetype"),
    url("fonts/icomoon.woff?v5q1u4") format("woff"),
    url("fonts/icomoon.svg?v5q1u4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconB:before {
  content: "\e900";
}
